// base by fungleo
body {
  color: $c00;
  font-weight: 400;
  line-height: 1.5;
  font-family: $font-family-base;
  font-size: 16px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.table-cell {
  display: table-cell;
}

.grid {
  display: flex;
  display: -weikit-flex;
}

.grid-cell {
  flex: 1;
}

.grid-cell.u-full {
  flex: 0 0 100%;
}

.grid-cell.u-1of2 {
  flex: 0 0 50%;
}

.grid-cell.u-1of3 {
  flex: 0 0 33.3333%;
}

.grid-cell.u-1of4 {
  flex: 0 0 25%;
}

.none {
  display: none
}

.clear {
  clear: both;
}

.mb20 {
  margin-bottom: 20px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.middle {
  vertical-align: middle;
}

.cf {
  zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.w-100 {
  width: 100%;
}

chrome scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background: rgba($c00, 0.5);
}

::-webkit-scrollbar-track-piece {
  background: rgba($c00, 0.2);
}

.c-search {}


/* 账户安全 */ 
.user_safety{
  display: -webkit-flex;  /* 新版本语法: Chrome 21+ */
  display: flex;          /* 新版本语法: Opera 12.1, Firefox 22+ */
  display: -webkit-box;   /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;      /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;   /* 混合版本语法: IE 10 */
  min-height: 100vh;
  flex-direction: column;  
}
.user_box{
  -webkit-flex: 1;        /* Chrome */  
  -ms-flex: 1;             /* IE 10 */  
  flex: 1;                /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-flex: 1;     /* OLD - iOS 6-, Safari 3.1-6 */  
  -moz-box-flex: 1;       /* OLD - Firefox 19- */ 
}

.h_100 {
  height: 100%;
}

.pointer {
  cursor: pointer;
}