


// gray
$c55:#555;
$c22:#222;
$c33:#333;
$c99:#999;
$c77:#777;
$c00:#000;
$cff:#fff;
$caa:#aaa;
$ccc:#ccc;
$cf0:#f0f0f0;
$cdd:#ddd;
$cee:#eee;
$cf9:#f9f9f9;
$cf7:#F7F7F7;
$cfa:#fafafa;
$cf60:#FF8225;
$c2a:#2a3542;
$c35:#35404d;
// colour
$red:#ee4442;
$blue:#006FCF;
$sblue:#2c4a67;
$green:#46c100;
$cyan:#36bc99;
$gold:#A49D86;
$pink:#F85D92;
$pink2:#F13E7A;
$yellow:#f69800;
$qblue:#81dae8;

// 颜色筛选列表
$def:#FFFFFF;
// 左侧导航
$lbg:#1F1079;//主背景
$luc:#96ACD1;//未选中字体/图标
$lc:#143368;//选中区域背景
// 头部导航
$tfc:#464C56;//字体颜色
// 按钮背景色
$btnblue:#3E69B3;//蓝色按钮
$btngreen:#50CB44;//绿色按钮
$btngray:#96a8ae;//灰色按钮
$btnorange:#F2A560;//橙色按钮
$btnred:#8d0000;//红色按钮
$btnbrightred:#ee4442;
$btndelete: #eb2929; //删除按钮

// 内容区域
$mbg:#f5f5f5;//内容主背景
$mfc:#112331;//内容字体颜色
$ttbg:#f8f8f8;//表单头部背景
$tbbg:#f4f4f4;//表单隔行背景
$ucc:#F8BFC6;//未审核图标颜色
$cc:#6F8FC6;//已审核图标烟色 
$opifc:#9FA9BA;//操作图标颜色
$errorc:#E24053;//错误信息颜色
$pagec:#A9A9A9;//分页字体颜色
$headbg:#2f3843; //头部背景色

// 弹框
$poptbg:#1F4079;//弹框头部背景色  与左侧导航主背景一样


