// base
@import "base/variables";
@import "base/color";
@import "base/base";
// @import "base/mixin";
@import "base/reset";
//@import "base/font";
@import "base/normalize";

// style
@import "base/font";
@import "base/element-variables";
@import "scss/common";
// @import "scss/login";
// @import "scss/edit";
// @import "scss/table";
// @import "scss/search";
// @import "scss/box";
// @import "scss/chart";
// @import "scss/loading";
// @import "scss/xcalendar";
// @import "scss/eleme";

//fontawesome
/* @import "~font-awesome/scss/variables";
@import "~font-awesome/scss/mixins";
@import "~font-awesome/scss/path";
@import "~font-awesome/scss/core";
@import "~font-awesome/scss/larger";
@import "~font-awesome/scss/fixed-width";
@import "~font-awesome/scss/list";
@import "~font-awesome/scss/bordered-pulled";
@import "~font-awesome/scss/animated";
@import "~font-awesome/scss/rotated-flipped";
@import "~font-awesome/scss/stacked";
@import "~font-awesome/scss/icons";
@import "~font-awesome/scss/screen-reader"; */
